extends ./layout/index.pug
block contenido
    div.py-10
        h1#miid.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= pagina
        //p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis molestiae doloribus dolores totam odio quaerat facilis nesciunt eius eum in commodi, voluptas deserunt eveniet aliquid amet, recusandae explicabo sed autem!
        .mt-8.mx-auto.max-w-md   
            .bg-white.py-8.px-4.shadow
                form.space-y-5
                    div
                        label.block.txt-sm.uppercase.text-gray-400.font-bold(for="nombre") Tu nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe aqui tu nombre" type="text" name="nombre")
                    div
                        label.block.txt-sm.uppercase.text-gray-400.font-bold(for="email") Tu email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe aqui tu email" type="email" name="email")
                    div
                        label.block.txt-sm.uppercase.text-gray-400.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe aqui tu Password" type="password" name="password")
                    div
                        label.block.txt-sm.uppercase.text-gray-400.font-bold(for="repetir_password") Repetir Password
                        input#repetir_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe aqui tu Password" type="password" name="repetir_password")
                    div.flex.items-center.justify-between
                        a.text-indigo-400.text-xs(href="/auth/login") Ya tienes cuenta? INICIA SESION 
                        a.text-indigo-400.text-xs(href="/auth/olvide-password") Olvidé mi Password 

                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 rounded-md text-white font-bold py-3 cursor-pointer" type="submit" value="Crear Cuenta")